<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {{ form.media }}
    <meta charset="UTF-8">

    <script>


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setCurrentLocation);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function setCurrentLocation(position) {
            console.log(position)
            $("#lat").val(position.coords.latitude)
            $("#lng").val(position.coords.longitude)
        }

        $( document ).ready(function() {
            getLocation()
        });
    </script>
    <title>ShopSearch</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="form-group col-12">
            <h1>Test</h1>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <p>Search for shops using either their name, key words, or a location</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <form action="/shops/search/" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="text">Text</label>
                        <input type="text" class="form-control" name="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="lat">Latitude</label>
                        <input type="number" step="any" class="form-control" name="lat" id="lat">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lng">Longitude</label>
                        <input type="number" step="any" class="form-control" name="lng" id="lng">
                    </div>
                    <div class="form-group col-md-4">
                         <div style="height: 32px;width: 10px;"></div>
                        <button type="button" class="btn btn-primary" onclick="getLocation()">Near Me</button>
                    </div>
                </div>
                <button class="btn btn-success" type="submit" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>